header {
  display: flex;
  justify-content: space-evenly;
}

h1 {
    color: white;
    align-content: center;
    background-image: url(/images/background.jpeg);
    background-color: lightsteelblue;
}
.logo {
  height: 8em;
  background-origin: padding-box;
}
.content {
  display: flex;
  text-align: center;
}
.fishList {
  background-color: aquamarine;
  text-align: center;
}
.quotes {
  text-align: center;
  color: rebeccapurple;
}
.locations {
    background-color: lightyellow;
    text-align: center;
}
.tankTips {

}
.container {
  border: 1px solid green;
}
.container--left {
  flex: 3;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.container--right {
  flex: 1;
  background-color: lavender;
}
.fish__image {
  height: 8em;
}
.location__image {
  height: 12em;
}
.location__name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container--left article {
  margin-bottom: 25px;
}